---
// src/components/Testimonials.astro
import { client } from "../../../lib/contentful"; 

const response = await client.getEntries({
  content_type: "homepageCaseStudy"
});

// 1. Get the fields from the first entry
const data = response.items;

// 2. Access the 'testmonials' reference field (using the API schema's spelling)
const casestudy = (data as any[]) || [];
// console.log(casestudy);
---

<section class="cfg-cases-viewport">
    <div class="cfg-cases-container">
      {casestudy.map((item)=>{
        const title = item.fields?.caseStudyTitle;
        const websiteName = item.fields?.caseStudyWebsiteName;
        const description = item.fields?.description;
        const buttonlabel = item.fields?.buttonLabel;
        const buttonurl = item.fields?.buttonUrl;
        const tags = item.fields?.tags as any[] || [];
        return(
          <a href={buttonurl} class="cfg-case-card cfg-card-lavender" style={`background-color: ${item.fields?.backgroundColor}`}>
            <div class="cfg-card-content">
              <span class="cfg-case-eyebrow">{title}</span>
              <h2 class="cfg-case-client">{websiteName}</h2>
              {tags && tags.length > 0 && (
                <div class="cfg-case-tags">
                  {tags.map((tag) => (
                    <span class="cfg-case-badge">{tag}</span>
                  ))}
                </div>
              )}
             
              <p class="cfg-case-summary">
                {description}
              </p>
              <span class="cfg-case-link">{buttonlabel}</span>
            </div>
          </a>
        )
      })}
      

    </div>
  </section>
