---

import { client } from "../../lib/contentful"; 

const response = await client.getEntries({
  content_type: "footerPartnerLogo" 
});

const data = response.items;

const logolist = (data as any[]) || [];
// console.log(logolist);
---
 <div class=" partners-swiper">
      <div class="swiper-wrapper elements-align-center">
        {logolist.map((item) => {
          // Extract data from individual reference items
          const url = item.fields?.partnerLogoUrl;
          const websiteLogo = item.fields?.partnerLogo.fields?.file?.url;
          const websiteLogoalt = item.fields?.partnerLogo.fields?.title;
          
          return (
            <div class="swiper-slide partner-logo shopify">
              { url ? 
                  <a href={url} target="_blank">
                   <img src={`https:${websiteLogo}`} alt={websiteLogoalt} loading="lazy" width="217px" height="auto" />
                   </a> 
                   : 
                   <img src={`https:${websiteLogo}`} alt={websiteLogoalt} loading="lazy" width="217px" height="auto" />
                }
               
             
            </div>
          );
        })}
        
      </div>
    </div>

<script>
  import '../scripts/swiper.js'; 
</script>
<style>
  .partner-logo img{
    max-height: 76px;
    width: auto;
    max-width: 180px;
  }
</style>