---
import partner1 from '../assets/partner1.svg';
import partner2 from '../assets/partner2.png';
import partner3 from '../assets/partner3.svg';
import partner4 from '../assets/partner4.svg';
import partner5 from '../assets/partner5.svg';
---
 <div class=" partners-swiper">
      <div class="swiper-wrapper elements-align-center">
        
        <div class="swiper-slide partner-logo shopify">
          <img src={partner5.src} alt="Shopify Partners" loading="lazy" width="217px" height="auto"/>
        </div>

        <div class="swiper-slide partner-logo google">
          <img src={partner1.src} alt="Google Partner" loading="lazy" width="99px" height="auto"/>
        </div>

        <div class="swiper-slide partner-logo wpengine">
          <img src={partner3.src} alt="Klaviyo" loading="lazy" width="71px" height="auto"/>
        </div>

        <div class="swiper-slide partner-logo green-hosting">
          <img src={partner2.src} alt="Green Hosting by CueForGood" loading="lazy" width="160px"/>
        </div>

        <div class="swiper-slide partner-logo userway">
          <img src={partner4.src} alt="UserWay Accessibility" loading="lazy" width="160px"/>
        </div>

        <div class="swiper-slide partner-logo shopify">
          <img src={partner5.src} alt="Shopify Partners" loading="lazy" width="217px" height="auto"/>
        </div>

        <div class="swiper-slide partner-logo google">
          <img src={partner1.src} alt="Google Partner" loading="lazy" width="99px" height="auto"/>
        </div>

        <div class="swiper-slide partner-logo wpengine">
          <img src={partner3.src} alt="Klaviyo" loading="lazy" width="71px" height="auto"/>
        </div>

        <div class="swiper-slide partner-logo green-hosting">
          <img src={partner2.src} alt="Green Hosting by CueForGood" loading="lazy" width="160px"/>
        </div>

        <div class="swiper-slide partner-logo userway">
          <img src={partner4.src} alt="UserWay Accessibility" loading="lazy" width="160px"/>
        </div>
        
      </div>
    </div>

<script>
  import '../scripts/swiper.js'; 
</script>